*{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.intro {
	width: 100%;
    height: 100%;
    background: url("../images/frontend/background-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    top: 0;
}

.inner {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.content {
	width: 26vw;
    height: 30vh;
    /*background: rgba(255,255,255,0.39);*/
    margin: auto;
    border-radius: 1%;
    display: table;
}

.input2[placeholder] {
	padding-left: 23%;
    font-family: 'Lobster';
    font-size: 1.9vw;
}

.input1[placeholder]{
    padding-left: 23%;
    font-family: 'Lobster';
    font-size: 1.9vw;
}

.btn{
    text-decoration: none !important;
    display: table !important;
    text-align: center !important;
    margin-top: 6% !important;
    height: 3vh !important;
    padding: 3% 0% 3% 0% !important;
    background: #12e553 !important;
    font-family: 'Lobster' !important;
    font-size: 1.8vw !important;
    color: #0d0707 !important;
}
.userInput {
    background: #6F6F6F !important;
    color: #fff !important;
    padding: 18px 10px !important;
    border: 1px solid #C2C2C2 !important;
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    background: none !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    height: 40px !important;
}
.userInput:focus {
    color: #ffffff !important;
    background:none !important;
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
table, table tr, table td {
    width: 0%;
    height: 15%;
    padding:5px;
}
.login-btn {
    width: 100%;
    background: #369a00;
    color: #fff;
}
.number-btn {
    width: 90px;
    height: 70px;
    font-size:22px;
}
.fl-left {
    float: left;
    margin-right: 5px;
}
.fl-right {
    float: right;
}
.alert-danger {
    padding:10px;
    width:350px;
}










